.main-root {
  height: 100vh;
  width: 100vw;
}
.main-root header {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}
.main-root header h1 {
  font-size: 32px;
  color: #fd377e;
}
.main-root header h1 span {
  color: black;
}
.main-root header button {
  height: 40px;
  width: 64px;
  border-radius: 8px;
  padding: 15px;
  border: none;
  color: hsla(210, 7%, 56%, 1);
  cursor: pointer;
}
.main-root header button:hover {
  border: 2px solid #fd377e;
}
.main-root main {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.main-root main .nav-bar {
  width: 500px;
}
.main-root main .nav-bar-financias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.main-root main .nav-bar-financias h3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  /* grey-4 */

  color: #212529;
}
.main-root main .nav-bar-financias aside button {
  margin: 0 5px;
  height: 40px;
  width: 69px;

  border-radius: 8px;
  border: none;
  color: #868e96;
  cursor: pointer;
}

.sem-cards p {
  font-family: Nunito;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #868e96;
}
.sem-cards .container-vazio {
  background: #f8f9fa;
  border-radius: 8px;
  height: 87.35185241699219px;
  width: 502px;
  border-left: 6px solid #e9ecef;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  margin-bottom: 20px;
}
.divMaior {
  height: 13.185186386108398px;
  width: 330.1750183105469px;

  border-radius: 5px;
  background-color: #e9ecef;
}
.divMenor {
  height: 13.185184478759766px;
  width: 76.27142333984375px;

  border-radius: 5px;
  background-color: #e9ecef;
}
.sectionPrice {
  height: 96px;
  width: 363px;

  border: 1px solid #e9ecef;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 20px;
}
.sectionPrice aside h3 {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.sectionPrice aside p {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #868e96;
}
.sectionPrice .price {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #fd377e;
}
@media (max-width: 900px) {
  .main-root main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sem-cards .container-vazio {
    width: 80vw;
  }
  .nav-bar-financias {
    width: 320px;
    display: flex;
    flex-direction: column;
  }
  .main-root main {
    align-items: flex-start;
  }
  .main-root main .nav-bar {
    width: 320px;
  }
}
